<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Postmeeting" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header class="px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
        <div class="flex items-center gap-4">
          <a href="/" class="hover:text-zinc-700">
            Home
          </a>
          <%= if @current_user do %>
            <a href={~p"/calendar"} class="hover:text-zinc-700">
              Dashboard
            </a>
          <% end %>
        </div>
        <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          <%= if @current_user do %>
            <a href={~p"/settings"} class="hover:text-zinc-700">
              Settings
            </a>
            <.link href={~p"/auth/logout"} method="delete" class="hover:text-zinc-700">
              Log out
            </.link>
          <% else %>
            <a href={~p"/auth/google"} class="hover:text-zinc-700">
              Log in with Google
            </a>
          <% end %>
        </div>
      </div>
    </header>
    {@inner_content}
  </body>
</html>
